<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Requests Parsing using form</title>
</head>
<body>

{{ if . }}

<h2>The request method: {{ .Method }} </h2>
<h2>The request host: {{ .Host }} </h2>
<h2>The request Content-length: {{ .ContentLength }} </h2>
<h2>The request URL: {{ .URL }} </h2>
{{ range $key, $value := .Submissions }}
 <ul>
     <li> {{$key}}  {{$value}}</li>
 </ul>
{{ end }}

{{ end }}

<form action="/?fname=QueryValue" method="POST">
  <input type="text" name="fname" id="fname" placeholder="Your First Name">
  <input type="text" name="lname" id="lname" placeholder="Your First Name">
  <input type="submit" name="submit-button" value="Click me">

</form>


</body>
</html>